body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

table td,
table th {
    vertical-align: middle;
    padding: 8px 10px;
    border: 0;
    color: #000;
}

.field-label,
.label {
    font-weight: bold;
}

.order-id {
    display: inline-block;
    margin: 0 0 5px;
    font-size: 18pt;
    font-weight: bold;
    line-height: 1;
}

.contact-email {
    margin: 0 0 20px;
}

.order-date {
    display: inline-block;
    margin-left: 10px;
}

.attachment-after {
    width: 20%;
}

.packing-slip table {
    width: 100%;
    font-size: 0.923em;
    margin: 0 0 10px;
    border: 1px solid #bebfb9;
    border-collapse: collapse;
}

table th {
    text-transform: uppercase;
    background: #e1e2dc;
    font-weight: normal;
    border-width: 1px;
    border-style: solid;
    border-color: #bebfb9;
    padding: 3px 10px;
}

tr.even, tr.odd {
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: #bebfb9;
    background: #f3f4ee;
}
tr.odd {
    background: #fff;
}

.packing-slip .field-name-commerce-order-total .commerce-price-formatted-components {
    width: 33%;
    margin-left: auto;
}

.packing-slip .order-view > .view-content {
    width: 75%;
}


.attachment-after .customer-info {
    margin-bottom: 50px;
    margin-left: 20px;
}
.packing-slip .order-view > .view-content,
.packing-slip .order-view .attachment.attachment-after {
    display:inline-block;
}

.contextual-links-wrapper {
    display:none;
}